.card {
    margin: 15px;
}

.card img {
    width: 250px;
    height: 250px;
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 60px;
}

.right-side {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 8px;
    padding: 20px 0 0 10px;

}

@media screen and (max-width: 500px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-start: -1;
    }
}